# Environemt to run in. Options [production, development]
ENVIRONMENT=development
#The application host name
HOST=localhost
#The application port to get access from the docker container
PORT=7788

#Parameters for getting the access to the database
DB_USER=local_user
DB_PASSWORD=password
DB_DRIVER=mysql
DB_NAME=tyre_match
DB_HOST=tyre-match-backend-mysql
DB_PORT=3306

#The application and the database will be accessible from the host machine on these ports
TEST_DB_HOST=0.0.0.0
EXPOSE_PORT=7788
EXPOSE_DB_PORT=56742
TEST_EXPOSE_DB_PORT=56743
